<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvbaba.dao.HotelDao">
    <select id="queryByhId" parameterType="int" resultMap="hotelMap">
        SELECT h_id,a_id,h_name,h_level FROM hotel WHERE h_id = #{value};
    </select>

    <select id="query" parameterType="Hotel" resultMap="hotelMap">
        SELECT h_id,a_id,h_name,h_level FROM hotel
        <where>
            <if test="hId!=null and hId!=''">
                h_id = #{hId}
            </if>
            <if test="aId!=null and aId!=''">
                and a_id = #{aId}
            </if>
            <if test="hName!=null and hName!=''">
                and h_name = #{hName}
            </if>
            <if test="hLevel!=null and hLevel''">

            </if>
        </where>


    </select>

    <resultMap id="hotelMap" type="Hotel">
        <id property="hId" column="h_id"/>
        <result property="aId" column="a_id"/>
        <result property="hName" column="h_name"/>
        <result property="hLevel" column="h_level"/>
    </resultMap>
</mapper>